<h1>Filter</h1>

<table>
  <tr>
    <th>Date</th>
  </tr>

<% @data_entries.each do |data_entry| %>
  <tr>
    <td><%= data_entry.weight %></td>
    <td><%= data_entry.created_at %></td>
    <td><%= link_to 'Show', data_entry %></td>
    <td><%= link_to 'Edit', edit_data_entry_path(data_entry) %></td>
    <td><%= link_to 'Destroy', data_entry, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Data entry', new_data_entry_path %>
